version: 2.1
orbs:
  cypress: cypress-io/cypress@1.28.0
  heroku: circleci/heroku@1.2.6
workflows:
    test+deploy:
      jobs:
        - cypress/run:
            start: npm start
        - heroku/deploy-via-git:
            api-key: HEROKU_API_KEY 
            app-name: $HEROKU_APP_NAME 
