.result {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    '. aaa .'
    '. bbb .'
    '. ccc .'
    'ddd . eee';
  grid-template-columns: 5rem auto 5rem;
  grid-template-rows: repeat(3, 2fr);
  grid-gap: 4%;
  justify-content: center;
  align-items: start;
  margin: 1em 0 2em 0;
  font-size: 1.3em;
  text-align: center;
}

.result-message-start {
  display: block;
  grid-area: aaa;
  text-align: center;
}

.polarity {
  grid-area: bbb;
  font-size: 1.6em;
}

.result-message-end {
  grid-area: ccc;
}

.back {
  grid-area: ddd;
}

.submit-draft {
  grid-area: eee;
}
