.App {
  padding: 10% 5%;
  width: 100%;
  display: grid;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd';
  grid-template-rows: auto auto auto auto;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  grid-area: a;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: auto;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 3px 6px 0px #00000059;
}

.emoji {
  font-size: 5rem;
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
}
